﻿@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj wydarzeniami";
}
<h4>@ViewBag.Title</h4>
    <h5>
        <dt>Stwórz wydarzenie:</dt>     <dd> [ @Html.ActionLink("Stworz wydarzenie", "CreateEvent", "Event") ] </dd>  <br />

        <dt>Moje wydarzenia:</dt>       <dd> [ @Html.ActionLink("Moje wydarzenia", "MyEvents", "Event") ] </dd>    <br />
        <dt>Zarządzanie wydarzeniami:</dt> <dd> [ @Html.ActionLink("Zarządzaj wydarzeniami", "ImOrganizer", "Event") ] </dd>    <br />
    </h5>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia konta</h4>
    <dt>Hasło:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Zmień hasło", "ChangePassword")
        }
        ]
    </dd>
    <br />
    <dt>Dane użytkownika:</dt> <dd> [ @Html.ActionLink("Edytuj dane", "Edit", "Manage") ] </dd>    <br />
</div>
