﻿@model WebApplication1.Models.Event
@{
    ViewBag.Title = "Stwórz wydarzenie";
}
<h2 class="display-name">Stwórz wydarzenie</h2>
<span style="font-size: 15px; color: green;">
    <h3>@ViewBag.Message</h3>
</span>
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
    $(function () {
            $(".Event").datepicker({
                dateFormat: "dd/MM/yy"
            })
        });</script>
    <script type="text/javascript">
    $(document).ready(function () {
            $("#cena").hide();
            $('input[name=Payment]').click(function () {
                if ($('input[name=Payment]:checked').val() === "płatne") {
                    $('#cena').show();
                } else {
                    $('#cena').hide();
                }
            });
        });</script>
}
<style type="text/css">

    .display-name {
        color: white;
    }

    .textboxcontent {
        color: black;
    }

    .calendarcontent {
        color: black;
    }
</style>
<!DOCTYPE html>
<body>
    <div id="createevent">
        <font size="3">
            @using (Html.BeginForm("CreateEvent", "Event", new { @style = "color: #ffffff;" }))
            {
                <span class="display-name">@Html.DisplayNameFor(model => Model.Name)</span>
                <div>
                    <span class="textboxcontent">@Html.TextBoxFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" }, @style = "color: #000000" })</span>
                    @Html.ValidationMessageFor(model => Model.Name, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.City)</span>
                <div>
                    <span class="textboxcontent">@Html.TextBoxFor(model => Model.City, new { @style = "color: #000000" })</span>
                    @Html.ValidationMessageFor(model => Model.City, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.NumberOfTickets)</span>
                <div>
                    @Html.EditorFor(model => Model.NumberOfTickets, new { htmlAttributes = new { @style = "color: #000000" } })
                    @Html.ValidationMessageFor(model => Model.NumberOfTickets, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.TimeDate)</span>
                <div>
                    <span class="calendarcontent">@Html.EditorFor(model => Model.TimeDate, new { htmlAttributes = new { @class = "Event" }, @style = "color: #000000;" })</span>
                    @Html.ValidationMessageFor(model => Model.TimeDate, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.Payment)</span>
                <div>
                    <span class="display-name">Darmowe @Html.RadioButtonFor(model => Model.Payment, "darmowe")</span>
                    <span class="display-name">Platne @Html.RadioButtonFor(model => Model.Payment, "płatne")</span>
                </div>
                <div id="cena">
                    <span class="display-name">@Html.DisplayNameFor(model => Model.Price) <br /></span>
                    <span class="textboxcontent">@Html.TextBoxFor(model => Model.Price, new { @Value = "0" })</span>
                </div>

                <span class="display-name">@Html.DisplayNameFor(model => Model.Email)</span>
                <div>
                    <span class="textboxcontent">@Html.TextBoxFor(model => Model.Email)</span>
                    @Html.ValidationMessageFor(model => Model.Email, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.Number)</span>
                <div>
                    <span class="textboxcontent">@Html.TextBoxFor(model => Model.Number)</span>
                    @Html.ValidationMessageFor(model => Model.Number, "", new { @class = "text-danger" })
                </div>


                <input id="Submit1" type="submit" value="Utwórz" style="color: black;" />

            }
        </font>
    </div>
</body>
