﻿@model WebApplication1.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Jesteś pewny, że chcesz usunąć to wydarzenie?</h3>
<div>
    <hr />

    <p align="center">
        <h5>
            <dl class="dl-horizontal">

                <dt>

                    @Html.DisplayNameFor(Model => Model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(Model => Model.Name)
                </dd>
            </dl>
        </h5>
    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p align="left">
                <input type="submit" value="Usun" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ImOrganizer")
            </p>
        </div>
    }
</div>
