﻿@model IEnumerable<WebApplication1.Models.Event>
@{
    ViewBag.Title = "Lista Wydarzeń";
}
<h4>@ViewBag.Message</h4>
<style type="text/css">
    .bezramki{
        border-top: 0;
    }
</style>
<h2>Lista Wydarzeń</h2>
<table class="table">
    <tr class="bezramki">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeDate)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)

    {
    <tr>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.City)
        </td>

        <td width="25%">
            @Html.DisplayFor(modelItem => item.TimeDate)
        </td>
        <td width="25%">
            @Html.ActionLink("Szczegóły", "Details", new { id = item.EventID })
        </td>
        <td width="30%">
            @Html.ActionLink("Zapisz się", "SignUp", new { id = item.EventID })
        </td>
    </tr>
    }
</table>
