﻿@model WebApplication1.Models.Search
@{
    ViewBag.Title = "Wyszukiwarka";
}
<span style="font-size: 15px; color: green;">
    <h3>@ViewBag.Message</h3>
</span>
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".Event").datepicker({
                dateFormat: "dd/MM/yy"
            })
        });</script>
}
<style type="text/css">

    .display-name {
        color: white;
    }

    .textboxcontent {
        color: black;
    }

    .calendarcontent {
        color: black;
    }
    #guzik{
        padding-top: 15px;
    }
</style>
<!DOCTYPE html>
<body>
    <div id="search">
        <font size="3">
            @using (Html.BeginForm("Search", "Event", new { @style = "color: #ffffff;" }))
            {
            <span class="display-name">@Html.DisplayNameFor(model => Model.TimeDate)</span>
            <div>
                <span class="calendarcontent">@Html.EditorFor(model => Model.TimeDate, new { htmlAttributes = new { @class = "Event" }, @style = "color: #000000;" })</span>
                @Html.ValidationMessageFor(model => Model.TimeDate, "", new { @class = "text-danger" })
            </div>
            <span class="display-name">@Html.DisplayNameFor(model => Model.City)</span>
            <div>
                <span class="textboxcontent">@Html.TextBoxFor(model => Model.City, new { @style = "color: #000000" })</span>
                @Html.ValidationMessageFor(model => Model.City, "", new { @class = "text-danger" })
            </div>
            <div id="guzik"><input id="Submit2" type="submit" value="Wyszukaj" style="color: black;" /></div>

        }
        </font>
    </div>
</body>
