@model WebApplication1.Models.MailViewModel

@{
    ViewBag.Title = "E-mail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        #wyslij{
            color: black;
        }
        #tekstboks{
            width: 400px;
        }
        td{
            padding-top: 10px;
        }
        textarea{
            max-width: 500px;
        }
    </style>
</head>

<body>
    <div>
        @using (Html.BeginForm("Sendemails", "Event", FormMethod.Post))
        {
            <center>
                <h1></h1>
                <table>
                    <tr>
                        <td>
                            Temat:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Subject, new { @style = "background-color: #eeeeee;color:black;width=inherit; " } )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Treść:
                        </td>
                        <td id="tekstboks">
                            @Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "800", @style = "background-color: #eeeeee;color:black; " })
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="submit" id="wyslij" value="Wyślij"  />
                        </td>
                    </tr>
                </table>
                <span style="color:green">@ViewBag.Message</span>
            </center>
        }
    </div>
</body>
</html>
