﻿
@model IEnumerable<WebApplication1.Models.Event>
@{
    ViewBag.Title = "Zapisz sie";
}
@ViewBag.Message
<h2>Lista Wydarzeń</h2>
@Html.ActionLink("Stworz wydarzenie", "CreateEvent", "Event")<br />
@Html.ActionLink("Strona główna", "Index")<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)

    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) <br />
                @Html.ActionLink("Szczegoly", "Details", new { id = item.EventID }) <br />
                @Html.ActionLink("Zapisz sie", "SignUp", new { id = item.EventID })<br />
                @Html.ActionLink("Wypisz sie", "Usun", new { id = item.EventID })<br />
            </td>

        </tr>
    }
</table>

