﻿
@{
    ViewBag.Title = "LoggedIn";
}


@if (Session["UserID"] != null)
{
    <h4>Hello @Session["Username"].ToString()</h4>
    @Html.ActionLink("Wyloguj", "LogOut", "Account"); <br /> <br />
    @Html.ActionLink("Stworz Wydarzenie", "CreateEvent", "Event"); <br /> <br />
    @Html.ActionLink("Lista Wydarzen", "List", "Event"); <br /> <br />
    @Html.ActionLink("Moje", "Moje", "Account"); <br />
}

