﻿@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>

<p>Ta aplikacja zostala stworzona przez Jakuba Maliszewskiego, Mariusza Grynczela, Adama Solona - studentów II roku Informatyki na Politechnice Białostockiej w ramach przedmiotu "Programowanie aplikacji WWW w technologii .NET</p>
