﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Pawtnet";
}
@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<style type="text/css">


    .menu {
        color: #9d9d9d;
    }

    .menu {
        align-items: center;
        position: center;
        text-align: center;
    }

    .menuDiv ul {
        color: #9d9d9d;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: #2f2f2f;
    }

    .menuDiv li {
        border-color: #9d9d9d;
        border: thin;
    }

    .menuDiv li a {
        border-radius: 2px;
        border-color: #9d9d9d;
        border-style: solid;
        border-width: 1px;
        display: block;
        color: #bfbfbf;
        padding: 25px 16px;
        text-decoration: none;
    }

    .menuDiv li a:hover {
        background-color: #555;
        color: white;
    }
    #ptitle {
        font-size: 20px;
        padding-bottom: 10px;
        color:aliceblue;
    }
    h1{
        -webkit-text-stroke: 0.9px #555;
        font-size:3.5em;
    }
    #rejs{
        padding-bottom: 20px;
        color:aliceblue;
        -webkit-text-stroke: 0.9px #555;
        font-style: italic;
    }
    #parostatek{
        text-decoration: none;
        color:transparent;
    }
</style>
<body>
    <center>
        <div id="ptitle"><h1>Platforma do tworzenia wydarzeń</h1></div>
        <a href="https://www.youtube.com/watch?v=N_0A2bZG6WM" id="parostatek" target="_blank"><div id="rejs"><h2>Z nami popłyniesz w najpiękniejszy rejs!</h2></div></a>
        <div class="menuDiv">
            <ul style="list-style:none" class="menu">
                @{if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", new { }, new { @style = "color: #bfbfbf;" })</li>
                        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", new { }, new { @style = "color: #bfbfbf;" })</li>
                    }}
                <li>@Html.ActionLink("Lista wydarzeń", "List", "Event", new { }, new { @style = "color: #bfbfbf;" })</li>
                <li>@Html.ActionLink("Wyszukaj wydarzenie", "Search", "Event", new { }, new { @style = "color: #bfbfbf;" })</li>
                <li>@Html.ActionLink("O nas", "About", "Home", new { }, new { @style = "color: #bfbfbf;" })</li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "menuDiv", @style = "color: #bfbfbf;" }))
                    {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>

                    }
                }

            </ul>
        </div>
    </center>
</body>